.git/**
.github/**
.agents/**
.codex/**
.czaza/**
.UI/**
.vscode/**
coverage/**
node_modules/**
shared/**
src/**
tests/**
vscode/**

.env*
.gitignore
.oxlintrc.json
.prettierignore
AGENT.md
*.log
*.local
*.ts
tsconfig*.json
vite*.ts

dist/*.vsix
